<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="messageProvider" class="org.nhn.next.di.HelloWorldMessageProvider" />
	<bean id="messageRenderer" class="org.nhn.next.di.MessageRenderer"> 				<!-- messageRender를 생성하는 부분과 같다. -->
		 <property name="messageProvider" ref="messageProvider" />
	</bean>
	
	
</beans>
